<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zaika_Zunction</title>
</head>
<body>
    <!-- Isme kch nahi hai new Ejs mtlb new form user ko provide krwa rhe jisme vo new data item ka data daalega or vo form post hoga listings pr jaake -->
    <h1>Create Listing</h1>
    <form method="POST" action="/listings">
        <label for="name">Name:</label>
        <input id="name" name="foodListing[name]" placeholder="Enter name" type="text" required>
        <br><br>
        <label for="ingredients">Ingredients:</label>
        <textarea id="ingredients" name="foodListing[ingredients]" placeholder="Enter what ingredients you are using" required></textarea>
        <br><br>
        <label for="price">Price:</label>
        <input id="price" name="foodListing[price]" placeholder="Enter Price" type="number" required>
        <br><br>
        <label for="location">Location:</label>
        <input id="location" name="foodListing[location]" placeholder="Enter Location" type="text" required>
        <br><br>
        <label for="image">Image LInk: </label>
        <input type="text" name="foodListing[image]" id="image" placeholder="Enter Link" required>
        <button type="submit">Add</button>
    </form>
</body>
</html>
